.main {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  min-height: 100vh;
  .loading {
    opacity: 1;
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s;
    user-select: none;
    img {
      user-select: none;
    }
    &[data-loaded="true"] {
      opacity: 0;
    }
  }
  header {
    position: fixed;
    width: 100%;
    z-index: 80;
    padding: 50px 40px 0;
    display: flex;
    justify-content: space-between;
    .left {
      flex: 1 1;
      display: flex;
      align-items: center;
      .logo {
        display: inline-block;
        position: relative;
        width: 45%;
        max-width: 368px;
        min-width: 150px;
        transition: opacity 0.5s;
        z-index: 2;
        font-size: 0;
        transform: translateZ(0);
        .logo_svg {
          fill: #203d99;
          transition: fill 0.5s;
        }
      }
    }
  }
  .layout_container {
    position: relative;
    width: 100%;
    overflow: hidden;
    .glCanvas_glCanvas {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100vw;
      height: 100dvh;
      .viewMore_container {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 55;
        opacity: 1;
        pointer-events: none;
        .viewMore,
        .viewMore_svg {
          position: absolute;
          width: 100%;
          height: 100%;
          pointer-events: none;
        }
        .viewMore {
          left: 0;
          top: 0;
          z-index: 1;
          .viewMore_svg {
            min-width: 650px;
            min-height: 500px;
            right: 0;
            bottom: 0;
            .viewMore_svg_shape {
              pointer-events: auto;
              transition: width 1s;
              transform-origin: right bottom;
              transform: scale(0.23) translateZ(0) translate(5%, 29%);
              transition: transform 0.7s cubic-bezier(0.48, 1.2, 0.51, 1);
              cursor: pointer;
            }
            .viewMore_svg_text {
              fill: #fff;
              font-size: 3.5px;
              right: 0;
              top: 0;
              font-family: Nunito, sans-serif;
              font-weight: 600;
              letter-spacing: 0.3em;
              transition: opacity 0.5s;
              pointer-events: none;
            }
          }
        }
      }
    }
  }
  //     @media only screen and (max-width: 950px)
  // header {
  //     padding: 25px 20px 0;
  //}
  // }
  section {
    height: 100dvh;
    border: 1px solid red;
  }
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(to bottom, rgba(var(--background-start-rgb), 1), rgba(var(--callout-rgb), 0.5));
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(to bottom, transparent 0%, rgb(var(--background-end-rgb)) 40%);
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
